{% extends 'mybase.html' %}

{% block content %}
    {{super()}}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Caesar Algorithm</h1>
      <p class="lead">Encode  / decode text by Caesar Algorithm.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-2 text-center">

        <div class="card mb-4 shadow-sm">
          <form method="POST" enctype=multipart/form-data>
          <div class="card-header">
            <div class="row">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Encode</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/second_decode">Decode</a>
              </li>
            </ul>
               <div class="custom-file">
                   <input type="file" name="file" title="Search for a file to add">
               </div>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
                <label for="encode_text">Text for encode:</label>
                <textarea class="form-control" rows="5" name="text_encode">{{ text_encode }}</textarea>
            </div>
            <input type="submit" class="btn btn-lg btn-block btn-outline-primary" name="form" value="Encode file">
          </div>
          </form>
        </div>

      </div>

      <div class="form-group row">
        <label for="staticResult" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticResult" value="Result: {{ result }}">
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        Thanks for using my super mega pro caesar algorithm app ))
      </footer>
    </div>
{% endblock %}